/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */

/* Common */
body {
    height: 100vh;
    background: linear-gradient(0deg,#dcdbd1 85%, #009688 85%);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}

#container {
    width: 80%;
    height: 95%;
    margin: auto;
    display: flex;
}

/* Left side */
#container-left {
    width: 35%;
    border-right: 1px solid lightgrey;
}

#nav-left {
    height: 10%;
    background: #eaeaea;
}

#notifies {
    background: #8edafc;
    height: 10%;
}

#search {
    background: #fafafa;
    height: 5%;
}

#users {
    background: white;
    height: 75%;
}

/* Right side */
#container-right {
    width: 65%;
    background: brown;
    border-left: 1px solid lightgrey;
}

#nav-right {
    background: #eaeaea;
    height: 10%;
}

#chat {
    background-image: url("../img/mine.jpg");
    height: 82%;
}

#message {
    background: #f3eeea;
    height: 8%;
}