/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */

/* Common */
body {
    height: 100vh;
    background: linear-gradient(to top,#dcdbd1 85%, #009688 85%);
    font-family: 'Lato', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}

#main-container {
    width: 85%;
    height: 95%;
    margin: auto;
    display: flex;
}

.nav-buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-buttons a {
    text-decoration: none;
    color:#b1b1b1;
    padding: 0 .625rem;
    display: flex;
    align-items: center;
    height: 70%;
}

.nav-buttons a i {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 130%;
}

.img-user {
    height: 100%;
    border-radius: 50%;
}

.user-nav {
    height: 70%;
    border-radius: 50%;
    display: flex;
    margin-left: .625rem;
}






/* ---------------------------------Left side------------------------------------------ */
#container-left {
    width: 30%;
    border-right: .0625rem solid lightgrey;
    overflow-y: hidden;
}

/* Navbar left */
#nav-left {
    height: 4rem;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-buttons {
    padding-right: 2%;
}

#my-name {
    display: flex;
    align-items: center;
    font-weight: 700;
}

/* Notifies */
#notifies {
    display: flex;
    align-items: center;
    background: #8edafc;
    height: 6.25rem;
    padding: 0 1.25rem;
}

.fa-bell-slash {
    color: #8edafc;
    padding: .625rem;
    font-size: 1.25rem;
}

 #notify-bell {
     background-color: white;
     border-radius: 50%;
     height: fit-content;
     margin-right: 1.25rem;
}

#notify-text-up {
    font-weight: 700;
}

#notify-text-down {
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: underline;
    color: gray;
}

/* Search user section */
#search-section {
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

#search-user {
    width: 97%;
    height: 70%;
    border: .0625rem solid rgba(105, 105, 105, 0.123);
    border-radius: .1875rem;
    margin-right: .3125rem;
}

#search-section a {
    height: 70%;
    background-color: white;
    border-radius: .125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b6b9bb;
    margin-left: .3125rem;
    padding: 0 1.25rem;
    border: .0625rem solid rgba(105, 105, 105, 0.123);

}

/* Contacts section */
#contacts {
    overflow-y: scroll;
    height: calc(100% - 14.25rem);
    background: white;
}
#contacts ul {
    list-style: none;
}
#contacts li {
    height: 5rem;
}

.user-container {
    height: 100%;
    display: flex;
}

.user-container img {
    height: 70%;
    border-radius: 50%;
    padding: 0 1.25rem;
    align-self: center;
}

.user-name {
    padding-top: .625rem;
    font-weight: 600;
}

.user-left {
    border-bottom: .0625rem solid rgba(180, 180, 180, 0.24);
}

#contacts li.active {
    background-color:  #e9ebeb;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1 */
    color: rgb(148, 148, 148);
    opacity: 1; /* Firefox */
    padding-left: .625rem;
    }



/* -----------------------------Right side------------------------------- */
#container-right {
    width: 70%;
}

/* Navbar right */
#nav-right {
    background: #eaeaea;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-time {
    font-size: 0.8rem;
    color: gray;
}


/* Chat section */
#chat {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 9rem);
    overflow-y: scroll;
}



#chat-box {
    width: 80%;
    margin: 3.125rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.message {
    width: 40%;
    padding: .9375rem 1.25rem;
    margin: .25rem 0;
    border-radius: .5rem;
    font-weight: 600;
    position: relative;
}

.message.sent {
    background-color: #d5f9ba;
    align-self: end;
}

.message.received {
    background-color: white;
}

.message-time {
    text-align: end;
    color: grey;
    font-weight: 500;
    font-size: 0.8rem;
    padding-top: 0.6rem;
}

.message-menu {
    background-color: #8edafc;
    position: absolute;
    right: 0;
    bottom: -4.4rem;
    z-index: 10;
}

.message-menu div{
    padding: 10px;
}



/* Message section */
#message-input-section {
    background: #f3eeea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
}

#message-input-section a {
    text-decoration: none;
    color: #6b7376;
    font-size: 1.4rem;
}

#message-input-section input {
    width: 80%;
    height: 70%;
    border-radius: .375rem;
    border: none;
}