/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */

/* Common */
body {
    height: 100vh;
    background: linear-gradient(0deg,#dcdbd1 85%, #009688 85%);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}

#container {
    width: 80%;
    height: 95%;
    margin: auto;
    display: flex;
}

/* Left side */
#container-left {
    width: 35%;
}

#nav-left {
    height: 10%;
    background: blueviolet;
}

#notifies {
    background: chartreuse;
    height: 10%;
}

#search {
    background: coral;
    height: 5%;
}

#users {
    background: white;
    height: 75%;
}

/* Right side */
#container-right {
    width: 65%;
    background: brown;
}

#nav-right {
    background: violet;
    height: 10%;
}

#chat {
    background: wheat;
    height: 82%;
}

#message {
    background: #009688;
    height: 8%;
}