<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="root">
        <!-- Container principale -->
        <div id="main-container">

            <!-- Parte sinistra -->
            <div id="container-left">
                <!-- Nav section -->
                <div id="nav-left">
                    <div class="user-nav">
                        <img class="img-user" src="./img/avatar_io.jpg" alt="">
                        <div id="my-name">Nome Utente</div>
                    </div>
                    <div class="nav-buttons">
                        <a href="#">
                            <i class="fas fa-circle-notch"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-comment-alt"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>

                    </div>
                </div>
                <!-- Notifies section -->
                <div id="notifies">
                    <a id="notify-link" href="#">
                        <div id="notify-bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                    </a>
                    <div id="notify-text-up">
                        Ricevi notifiche di nuovi messaggi
                        <div id="notify-text-down">
                            Attiva notifiche desktop
                        </div>
                    </div>
                </div>
                <!-- Search section -->
                <div id="search-section">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                    <input id="search-user" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- Contacts section -->
                <div id="contacts">
                    <ul>
                        <li v-for="(contact, index) in contacts" :key="index"
                            :class="index == selectedIndex ? 'active' : null" @click="selectIndex(index)">
                            <div class="user-container user-left">
                                <img :src=`./img/avatar${contact.avatar}.jpg` alt="contact profile img">
                                <div class="user-name">{{contact.name}}</div>
                                <!-- </div> -->
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Parte destra -->
            <div id="container-right">
                <!-- Section Navbar -->
                <div id="nav-right">
                    <div class="user-nav">
                        <img class="img-user" :src=`./img/avatar${contacts[selectedIndex].avatar}.jpg` alt="">
                        <div id="user-info">
                            <div class="user-name">{{contacts[selectedIndex].name}}</div>
                            <div class="user-time">Ultimo accesso oggi alle</div>
                        </div>
                    </div>
                    <div class="nav-buttons">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                </div>
                <!-- Section chat display -->
                <div id="chat">
                    <div id="chat-box">
                        <div v-for="(message, index) in contacts[selectedIndex].messages" :key="index" class="message"
                            :class="message.status">
                            <div>
                                {{message.message}}
                            </div>
                            <div class="message-time">
                                {{message.date}}
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Section write message -->
                <div id="message-input-section">
                    <a href="#">
                        <i class="far fa-smile"></i>
                    </a>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <a href="#">
                        <i class="fas fa-microphone"></i>
                    </a>
                </div>
            </div>

        </div>





    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>